# Direct numbered desktop navigation for Native mode.
# This file is linked to %APPDATA%\WindowsVirtualDesktopHelper\.
general.startupWithWindows: true
feature.useHotKeyToJumpToDesktopNumber: true
feature.useHotKeyToJumpToDesktopNumber.hotkey: "Alt"
feature.showDesktopNumberInIconTray: true
feature.showDesktopSwitchOverlay: false
true