yasb/**/yasb.log*
yasb/activitywatch/window-watcher.exe
yasb/battery/battery.exe
yasb/caffeinate/caffeinate.exe
yasb/clipboard/clipboard.exe
yasb/emacs/emacs-tray.exe
yasb/language/language.exe
shells/komorebi/applications.json
psmux/psmux-agent.exe
yasb/dictation/dictate.exe
.sandbox/
